<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Calle</th>
    <th>Colonia</th>
    <th>Num Ext</th>
    <th>Num Int</th>
    <th>Codigo Postal</th>
    <th>Ciudad</th>
    <th>Pais</th>
    <th>Empleados</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.street %></td>
      <td><%= place.suburb %></td>
      <td><%= place.ext_num %></td>
      <td><%= place.int_num %></td>
      <td><%= place.pc %></td>
      <td><%= place.city %></td>
      <td><%= place.country %></td>
      <td><%= place.employees.count %></td>
      <td><%= link_to 'Show', place %></td>
      <td><%= link_to 'Edit', edit_place_path(place) %></td>
      <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
