<p id="notice"><%= notice %></p>

<p>
  <strong>Sucursal:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @place.street %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @place.suburb %>
</p>

<p>
  <strong>Numero Ext:</strong>
  <%= @place.ext_num %>
</p>

<p>
  <strong>Numero Int:</strong>
  <%= @place.int_num %>
</p>

<p>
  <strong>Codigo Postal:</strong>
  <%= @place.pc %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @place.country %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<%= render 'employees/employees' %>