<h2>Registrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :rfc, "RFC" %><br />
    <%= f.text_field :rfc, autocomplete: "rfc" %>
  </div>

  <div class="field">
    <%= f.label :company, "Empresa" %><br />
    <%= f.text_field :company, autocomplete: "rfc" %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse"%>
  </div>
<% end %>

<%= render "users/shared/links" %>
